/*
TODO namespace all these
*/


/*
this is the overall content area. customise it for your site
TODO make this reponsive
*/
#ca_content_area
{
    width: 100%;
    text-align: left;
}





/*
Advanced users only beyond this point!
*/

.print_login button
{
    margin-top:20px;
}


.ca_standard_button
{

    width: 100px;
}

.ca_large_button
{

    width: 200px;
}


.ca_login_button
{
    margin-left: auto;
    margin-right: auto;

}

.clear, .ca_clear {
    clear: both;
}

.ca_select_box
{
    margin-top: 10px;
    margin-bottom: 5px;
}

.ca_human_name
{
    text-decoration: underline;
}

.ca_proofs_bar
{
    width: 100%;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 5px;
}

.ca_message_area
{
    font-size: 100%;
}

.ca_counter_label
{
    min-width: 50px;
    display: inline-block;
}

.ca_counter_box
{
    float: right;
    display: inline-block;
}

.ca_counter
{
    min-width: 25px;
    display: inline-block;
    text-align: left;
}


div.ca_thumb_pic
{
    float: left;
    height: 120px;
    margin-right: 20px;
    margin-top: 10px;
}

.ca_thumb_pic input[type="checkbox"]
{
    float: left;
}

.ca_thumb_pic img
{
    cursor: pointer;
}


button.ca_proof_button, button.ca_logout_button
{
    float: right;
    margin-right: 10px;
}

.ca_pagination_box
{
    float: left;
    margin-left: 10px;

}

.ca_pagination
{
    min-width: 50px;
    display: inline-block;
}

.ca_sub_bar
{
    font-size: 80%;
    background-color: #eeeeee;
    padding: 10px 0px 10px 0px;
    float: left;
    width: 100%;
}

.ca_highlighted_pagination
{
    text-decoration: underline;
}

.ca_page_info
{
    display: inline-block;
}

.ca_proofs_page
{
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.ca_label
{
    font-size: 10px;
}


/*
TODO responsive
*/



.ca_lightbox_close_bar
{
    background-color: #eeeeee;
    width: 100%;
    height: 20px;

}

.ca_lightbox_close
{
    float: right;
    font-size: 12px;
    display: inline-block;
    width: 15px;
    background-color: #eeeeee;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 2px;
}

.ca_lightbox_controls
{

    font-size: 12px;
    height: 15px;
}

.ca_lightbox_controls input[type="checkbox"]
{
    float: left;
}

.ca_lightbox_label
{
    float: left;
    margin-left: 20px;
    display: inline-block;
}

#ca_lightbox_overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url("client_area_overlay.png") repeat;
    text-align:center;
    z-index: 1000;
}

.ca_message_pop_up
{
    width: 200px;
    z-index: 1000;
    background-color:  #ffffff;
    border: 1px solid #000000;
    position: absolute;
    padding-bottom: 5px;

}

.ca_popup_close_bar
{
    background-color: #eeeeee;
    width: 100%;
    height: 20px;

}

.ca_popup_close
{
    float: right;
    font-size: 12px;
    display: inline-block;
    width: 15px;
    background-color: #eeeeee;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 2px;
}

.ca_popup_text
{
    padding: 5px;
}

.ca_button_left
{
    margin-right: 5px;
}

.ca_error
{
    color: #ff0000;
    display: block;
    width: 100%;
    text-align: center;
}

.ca_proofs_box
{
    width: 200px;
    height: 100px;
    margin-top: 5px;

}

.ca_lightbox
{
    border: 1px solid #000000;
    position: absolute;
    top: 10%;
    left: 50%;
    display: inline-block;
    background-color: #ffffff;
    z-index: 1001; /* > than for #ca_lightbox_overlay */
}

.ca_print_login.ca_additional_instructions
{
    margin-top: 20px;
}

.ca_login_error
{
    display: inline-block;
    width: 100%;
    color: #ff0000;
}

/*

below here are rules which are responsive
the defaults will apply for devices >= 768px wide
then the same rules are redefined for < 768px;

NB. For responsiveness to work as expected your container page should include something like:
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

*/

.ca_your_print_label
{
    float: left;
    width: 240px;
    margin-top: 10px;
}
.ca_your_print_field
{
    float: left;
    width: 240px;
    margin-top: 10px;

}

.ca_print_login
{
    margin-top: 20%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}


@media only screen and (max-width : 767px)   {

    .ca_your_print_label
    {
        float: none;
        width: auto;
        margin-top: 10px;
    }
    .ca_your_print_field
    {
        float: none;
        width: auto;
        margin-top: 10px;
    }

    .ca_print_login
    {
        margin-top: 20%;
        width: auto;
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
    }

}